.root {
    -fx-background-color: linear-gradient(from 0% 0% to 0% 100%, #cbd0d7 0%, white 100%);
}

#errorText{
	   
	}
	
	
.countries{
	-fx-background-color: green;
	-fx-text-fill: white;
	-fx-padding: 2;
	}
